:root {
    --dark: #232323;
    --text: rgba(255, 255, 255, 0.6);
    --link: #82A82D;
}

body {
    background-color: var(--dark);
    color: var(--text);
    font-family: 'Times New Roman';
    padding-left: 90px;
    padding-right: 90px;
}

a {
    color: var(--link);
}

#chapter-content {
    font-size: 27px;
    color: var(--text);
    line-height: 160%;
}

#space {
    height: 100vh;
}
